<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Two way binding with vue.js</title>
  </head>
  <body>
    <div id="app">
      <p>{{val1}}</p>
      <input type='range' min='0' max='10' v-model='val1'>

      <p>{{val2}}</p>
      <input type='range' min='0' max='10' v-model='val2'>

      <p>{{val3}}</p>
      <input type='range' min='0' max='10' v-model='val3' value='{{m3}}'>

    </div>

    <script src=vue.js></script>
    <script src=app.js></script>
  </body>
</html>
